:root {
  --text-overflow-ellipsis: {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  --clearfix: {
    &::after {
      clear: both;
      content: '';
      display: table;
    }
  }

  --no-select: {
    cursor: default;
    user-select: none;
  }

  --flex-fix: {
    min-height: 0;
    min-width: 0;
  }
}
