@import '../../variables.css';

.root {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.layer {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.marker {
  background-color: #999;
  border: none;
  border-radius: calc(var(--control-size) / 2);
  display: none;
  height: var(--control-size);
  position: absolute;
  width: var(--control-size);
}

.marker.show {
  display: block;
}

.label {
  background-color: #ddd;
  border-radius: 2px;
  color: #999;
  display: block;
  font-size: 20px;
  font-weight: bold;
  height: calc(var(--control-size));
  line-height: calc(var(--control-size));
  position: absolute;
  text-align: center;
  top: calc(var(--control-size) * -1.2);
  width: var(--control-size);
}
