@import '../../variables.css';

* {
  box-sizing: border-box;
}

body {
  position: fixed;
}

.root {
  background-color: #eee;
  outline: none;
  position: relative;
  touch-action: none;
}

.grid {
  display: grid;
  grid-template-columns: auto calc(var(--control-size) * 4) auto;
  grid-template-rows: auto auto calc(var(--control-size) * 4) auto auto;
  height: 100vh;
  max-height: 720px;
  max-width: 480px;
  min-height: 640px;
  min-width: 320px;
  width: 100vw;
}

.nav {
  grid-column: 2 / span 1;
  grid-row: 1 / span 1;
}

.patterns {
  grid-column: 2 / span 1;
  grid-row: 2 / span 1;
}

.right {
  grid-column: 3 / span 1;
  grid-row: 3 / span 1;
}

.sequencer {
  grid-column: 2 / span 1;
  grid-row: 3 / span 1;
}

.stepeditor {
  grid-column: 2 / span 1;
  grid-row: 4 / span 1;
}

.tracks {
  grid-column: 2 / span 1;
  grid-row: 5 / span 1;
}

.transport {
  grid-column: 1 / span 1;
  grid-row: 3 / span 1;
}
