@import '../../globals/variables.css';

:root {
  --button-base-color: var(--color-primary);
}

.root {
  align-items: center;
  appearance: none;
  background-color: transparent;
  border: 0;
  border-radius: 0;
  color: inherit;
  cursor: pointer;
  display: inline-flex;
  font-family: inherit;
  font-size: inherit;
  justify-content: center;
  margin: 0;
  outline: none;
  padding: 0;
  position: relative;
  -webkit-tap-highlight-color: transparent;
  text-decoration: none;
  user-select: none;
  vertical-align: middle;

  &::-moz-focus-inner {
    border-style: none;
  }
}

.disabled {
  cursor: default;
  pointer-events: none;
}
