@import '../../variables.css';

:root {
  --button-default-background-color: #ddd;
  --button-default-color: #000;
  --button-default-hover-background-color: #ccc;
  --control-background-color: #0f0;
}

/* Styles */
.root {
  background-color: var(--control-background-color);
  border: none;
  border-radius: calc(var(--control-size) / 2);
  height: var(--control-size);
  width: var(--control-size);
}

.root span {
  transform: translateX(-50%);
}

/* Themes */
.default {
  background-color: var(--button-default-background-color);
  color: var(--button-default-color);
}

.default:hover,
.default:focus {
  background-color: var(--button-default-hover-background-color);
}
